<footer class="footer is-fixed-bottom">
    <div class="container">
        <div class="columns">
            <div class="column has-text-left">
                <span class="icon is-small"><i class="fa fa-home"></i></span><span>
                    Coquimbo 2234 y 2234 bis - Montevideo, Uruguay |
                </span>
                <span class="icon is-small"><i class="fa fa-phone"></i></span><span>
                    2409 6944 - 2409 5255
                </span>
            </div>
            <div class="column has-text-right">
                Bureau Equipamientos | info@bureau.com.uy
            </div>
        </div>
    </div>
</footer>
