<footer class="footer">
    <div class="container">
        <div class="content has-text-left">
            <span class="icon is-small"><i class="fa fa-home"></i></span><span>
                Coquimbo 2234 y 2234 bis - Montevideo, Uruguay |
            </span>
            <span class="icon is-small"><i class="fa fa-phone"></i></span><span>
                2409 6944 - 2409 5255
            </span>
        </div>
        <div class="content has-text-right">
            Bureau Equipamientos | info@bureau.com.uy
        </div>
    </div>
</footer>
