<section class="section is-fullheight">
    <div class="container">
        <div class="columns">
            <div class="column is-one-quarter">
                <div class="container">
                    <aside class="menu">
                        {{#sections}}
                        <p class="menu-label">
                        {{uppercase name}}
                        </p>
                        <ul class="menu-list">
                            {{#list items}}
                            {{ name }}
                            {{/list}}
                        </ul>
                        {{/sections}}
                    </aside>
                </div>
            </div>
            <div class="column">
                <h1 class="title">
                    {{message}}
                </h1>
                <h2 class="subtitle">
                    Bureau website. Built with <strong>Bulma</strong>!
                </h2>
            </div>
        </div>
    </div>
</section>
